.news-item {
  background-color: white;
  max-width: 25.25rem;
  width: 25.25rem;
  height: 9.2424453rem;
  border-radius: 7px;
  display: inline-flex;
  margin-right: 1.8rem;
  overflow: hidden;
  transition: 450ms all;
  transform-origin: center left;
  box-shadow: 0 1px 6px 0 #20212447;
}

.news-item:hover ~ .news-item {
  transform: translate3d(30px, 0, 0);
}
.news-item__imagen {
  width: 45%;
  height: 100%;
  object-fit: cover;
}
.news-item a {
  margin: auto;
  white-space: pre-wrap;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  color: #009ad0;
  font-size: 1.7rem;
  padding: 0 0.5rem;
}
