.home-image {
  background-image: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.main-home-container {
  padding: 0 !important;
}

.discover-sige {
  margin: 0;
  padding: 2.8rem 2rem 4rem;
}

.discover-sige h2 {
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.videos-section {
  background-color: #009ad0;
  width: 100%;
  height: 45vh;
}

.videos-section-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.videos-section-container__video {
  position: relative;
  width: 40%;
  height: 100%;
  padding: 3% 5%;
}
.videos-section-container__video iframe {
  width: 100%;
  height: 100%;
}

.videos-section-container__title {
  width: 40%;
  display: flex;
  align-items: center;
}

.videos-section-container__title p {
  margin: 0;
  font-size: 3rem;
  color: #4fff15;
  font-weight: bold;
  text-align: center;
  padding: 0 3rem;
  line-height: 3.3rem;
}

.clients {
  margin-top: 4.5rem;
}

.clients h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2.8rem;
}

.footer {
  margin: 4.5rem 0;
}

.contact-section {
  margin: 0 0 1rem 0;
  text-align: center;
}

.download-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-section__url {
  margin: 0 3rem;
}

.download-section__imagen--google {
  width: 14rem;
}

.download-section__imagen--app {
  width: 12rem;
}
