.carousel {
  width: 100%;
  overflow-x: scroll;
}

.carousel::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.carousel::-webkit-scrollbar {
  width: 15px;
  background-color: #f5f5f5;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
}

.carousel__container {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  white-space: nowrap;
  margin: 10px 0;
}

.carousel__container:hover > div[class$='-item'] {
  opacity: 0.3;
}

.carousel__container:hover > div[class$='-item']:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
}
