.client-item {
  background-color: white;
  max-width: 14rem;
  width: 13.5rem;
  height: 15.7rem;
  border-radius: 7px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.8rem;
  overflow: hidden;
  transition: 450ms all;
  transform-origin: center left;
  box-shadow: 0 1px 6px 0 #20212447;
}

.client-item:hover ~ .client-item {
  transform: translate3d(30px, 0, 0);
}
.client-item__imagen {
  margin-top: 0.3rem;
  width: 50%;
  height: 55%;
  object-fit: cover;
}
.client-item a {
  margin: auto;
  white-space: pre-wrap;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  color: #009ad0;
  font-size: 1.2rem;
  padding: 0 0.5rem;
}
