.add_activity_description_container {
  white-space: pre-wrap;
  margin: 0.5em 0;
}

.add_activity_description_container-text-aria {
  width: 100%;
}

.add_activity_main label {
  font-weight: bold;
}
